.mypost {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-bottom: 40px;
}
label span{
    font-size: 14px;
    font-weight: 600;
    color: #0f0f0f;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  
.input{ 
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    padding-left: 30px;
    font-family: 'Nunito', sans-serif; 
    margin-top: 30px;
    outline: none;
  }
.input:focus {
    border: 1px solid #538167;
    border-radius: 10px;
}
.image-post {
    max-width: 100%;
}
.tags {
    margin-bottom: 40px;
    display: flex;
}
.input-tags{ 
    display: block;
    border: none;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    padding-left: 30px;
    font-family: 'Nunito', sans-serif; 
    margin-top: 30px;
    outline: none;
  }
.input-tags:focus {
    border: 1px solid #538167;
    border-radius: 10px;
}
/* Style the "Add" button */
.addBtn {
    margin-top: 30px;
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #538167;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

.addBtn:hover {
    background-color: #bbb;
  }
#myTags {
    display: flex;
    flex-wrap: wrap;
}

#myTags li {
    padding: 10px;
    list-style-type: none;
    background: #538167;
    font-size: 18px;
    transition: 0.2s;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.close {
    color: white !important;
    margin-left: 12px;
}
.img-add {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;
  }
.label-img {
    font-size: 40px; 
    cursor: pointer;
}
.content-post {
    height: 500px;
}
.btn-submit {
    padding: 10px;
    width: 100px;
    background-color: #538167;
    color: white;
    float: right;
    margin-top: 20px;
    border: none;
    outline: none;
    margin-bottom: 50px;
}
.btn-submit:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
}