.header-nav {
  height: 70px;
  align-items: center;
  /*background: #d0efdd;*/
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}
.header-navbar--scroll {
	background: #d0efdd !important;
	transition: all 0.4s ease;
}
.img-logo {
  height: 70px;
}
.select {
  /*color: #13743d;*/
  color: #363635;
  font-weight: 500;
}
.select .active{
  color: #72aac9;
}
/*Category menu*/
.img-banner {
    width: 100vw;
    height: auto;
    margin-top: -70px;
}
.category {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}
.text-cate {
    color: black !important;
    text-align: center;
    padding: 7px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 500;
}
.text-desc {
    color: #D1A054;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.menu-cate {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #538167;
    background: rgb(226, 238, 232);
    box-shadow: inset -31px -31px 43px rgba(255, 255, 255, 0.64), 26px 26px 48px rgba(13, 39, 80, 0.16);
    border-radius: 10px;
}
.name-cate {
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.nav-pills .nav-item.active, .nav-pills .show>.nav-item{
  background: none;
  color: #538167;
  border-bottom: 4px solid #538167;
  border-radius: 0;
}
/*Nút Back on Top*/
#BtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: #2c4b39;
  cursor: pointer;
  padding: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.img-text {
  margin-top: -1100px;
  border-radius: 50%;
  width: 270px;
  margin-left: 50px;
  overflow: hidden;
  animation: xoayvong 30s linear 0s infinite;
  -webkit-animation: xoayvong 30s linear 0s infinite;
  -moz-animation: xoayvong 30s linear 0s infinite;
  -o-animation: xoayvong 30s linear 0s infinite;
}
.img-menu {
    border-radius: 50%;width: 200px;height: 200px;
    margin-top: -700px;
    margin-left: 80vw;
    overflow: hidden;
    animation: xoayvong 50s linear 0s infinite;
    -webkit-animation: xoayvong 50s linear 0s infinite;
    -moz-animation: xoayvong 50s linear 0s infinite;
    -o-animation: xoayvong 50s linear 0s infinite;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
/* Standard syntax */ 
@keyframes xoayvong {
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

/*View menu items*/
.img-menu-item {
    margin-left: 20px;
    width: 110px;
    height: 110px;
    margin-bottom: 25px;
    border-bottom-right-radius:50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow:1px 1px gray;
}
.name-item {
    font-size: 20px;
}
.name-plus {
    font-size: 20px;
    max-width: 100%; 
    overflow: hidden;
    flex: 1;
}
.item {
    display: flex;
    align-items: center;
}
.price-item {
    color:red;
    font-size: 20px;
}
.view-menu {
    text-align: center;
    padding: 25px;
    text-decoration: none;
}
.view-menu:hover {
    text-decoration: none;
}

/*Rating by user*/
.rate-item {
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    color:black;
}

.owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }
/*Review special*/
  .parallax {
      margin-top: 50px;
    /* The image used */
    background-image: url('https://content.copacs.net/media/timgi.net/hinh-nen/trai-cay/hinh-nen-dep-cho-may-tinh-chu-de-trai-cay-dep-mat-va-de-thuong-401.jpg');
  
    /* Set a specific height */
    min-height: 560px !important; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    left: 0;
  }
.review-special {
    background: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363635;
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 560px;
    right: 0;
    left: 0;
    opacity: 0.75;
}
.img-review-special {
    width: 400px;
    height: 300px;
}
.btn-buy-now {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 17px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}
.btn-buy-now:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}
/*Card-post*/
.card-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 70px;
    margin-top: 70px;
    text-align: center;
}
.card-post {
    background: #fff;
    color: hsl(234, 26%, 39%);
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.card-post-active:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
}
.card-post-active {
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
    margin-left: 10px !important;
    margin-right: 10px !important;
    box-shadow: -5px 5px 15px 1px rgba(122, 196, 206, 0.31);
    padding-bottom: 30px;
}
.card-post-shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.31);
    padding-bottom: 40px;
}
.img-card-post {
    width: 370px !important;
}
.card-post .img-card-post:hover {
    transform: scale(0.9,0.9);
    transition: all 0.5s linear;
}
.post-desc {
    padding-top: 20px;
    width: 370px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:white;
}
/*@media (max-width: 280px) {
    .card-posts {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  
    .card-post {
      transform: scale(0.8);
      margin-bottom: 1rem;
    }
    .card-post-active {
      transform: scale(0.8);
    }
  }
  
  @media (min-width: 280px) and (max-width: 320px) {
    .card-posts {
      display: flex;
      flex-direction: column;
    }
    .card-post {
      margin-bottom: 1rem;
    }
    .card-post-active {
      transform: scale(1);
    }
  }
  
  @media (min-width: 320px) and (max-width: 414px) {
    .card-posts {
      display: flex;
      flex-direction: column;
    }
    .card-post {
      margin-bottom: 1rem;
    }
    .card-post-active {
      transform: scale(1);
    }
  }
  @media (min-width: 414px) and (max-width: 768px) {
    .card-post {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .card-post-active {
      transform: scale(1);
    }
  }
  @media (min-width: 768px) and (max-width: 1046px) {
    .card-posts {
      display: flex;
    }
    .card-post {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .card-post-active {
      transform: scale(1);
    }
  }*/
.read-more {
    width: 300px;
    color: white;
    background-color:rgba(10, 143, 143, 0.87);
    border: none;
    height: 40px;
    outline: rgba(10, 143, 143, 0.87);
}
  
/*Page management account*/
.body-manage {
  width: 100vw;
}
.content-full {
  top:0;
  padding-top: 40px;
  padding-bottom: 40px;
  bottom: 0;
}
.content-manage {
  padding: 70px;
  background-color: rgb(244, 255, 244);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.avatar-acc {
  width: 125px;
  height: 125px;
  border-radius: 62.5px;
  border: 1px solid rgb(34, 140, 226);
  padding: 2px;
}
.content-infor {
  align-items: center;
  padding-bottom: 40px;
}
.fullname {
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(20, 48, 173);
  margin-bottom: 10px;
  font-weight: 600;
}
.role-acc {
  background-color: rgb(235, 163, 54);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}
.btn-add-avatar {
  border: none;
  background-color: none;
}
.img-add-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.label-img {
  margin-top: 190px;
  margin-left: -65px; 
  font-size: 40px; 
  cursor: pointer;
}
.change-pass {
  color: teal;
  text-decoration: none;
  padding-top: 20px;
}
.change-pass:hover {
  text-decoration: none;
}
.extends {
  color: rgb(20, 48, 173);;
}
.input-infor {
  border:none;
  outline: none;
  background: none;
  display: block;
  width: 70vh;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  font-family: 'Nunito', sans-serif; 
}
.span-infor {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}
label {
  display: block;
  margin: 25px auto 0;
}
.btn-update {
  border: none;
  background-color: rgb(6, 136, 136);
  color: white;
  border-bottom: rgb(235, 180, 31);
  border-radius: 20px;
  height: 45px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  float: right;
  
}
.img-change {
  width: 300px;
  height: 300px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 150px;
}
.change-img {
  display: flex;
  align-items: center;
}
.infor-form {
  margin-left: 20px;
}



