/*About post*/
.post {
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
}
.img-post {
    width: 100%;
    border-radius: 10px;
    clip-path: circle(70.9% at 58% 0%);
    transition: clip-path .5s ease-in-out;
}
.user-post {
    font-size: 23px;
    margin-top: -200px;
    text-align: center;
    width: 150px;
    height: 150px;
    clip-path: circle(45.8% at 49% 49%);
    margin-left: 60px;
}
.intro-post {
    margin-top: -20px;
    margin-left: 30px;
    border-bottom: 0.1px solid #2c4b39;
    padding-bottom: 5px;
    color: gray;
}
.amount{
    float: right;
}
.poster {
    padding-right: 10px;
}
.title-post {
    font-size: 35px;
    font-weight: 500;
    padding-left: 30px;
    margin-top: 10px;
}
.content-post {
    padding: 30px;
}
/*Suggest post*/
.suggest-post {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
    margin-top: 50px;
}
.img-suggest {
    padding: 4px;
    width: 110px;
    height: 80px;
}
.title-suggest {
    padding: 5px;
    font-weight: 500;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.time-suggest {
    font-size: 13px;
}
.item-post {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
}
.item-post:hover {
    text-decoration: none;
    color: #538167;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}
/*Title - topic*/
.topic {
    font-weight: 600;
    font-size: 22px;
    padding: 5px;
    padding-top: 20px;
    padding-left: 10px;
}
.under_line{ 
    width: 100%;
    height: 3px;
    background-color: #ccc;
    position: relative;
}
.under_line::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
    background: #538167;
}
/*Tags post*/
.icon-tags {
    color: #538167;
    padding-right: 5px;
}
.tags-post {
    margin-top: 30px;
}
.div-tags {
    padding: 10px;
}
.tags{
    text-decoration: none;
	height: 40px; 
	border-radius: 7px;
	background-color: #538167;
	color:white;
	border: none;
	margin: 5px;
    padding: 10px;
    text-align: center;
}
.tags:hover {
    text-decoration: none;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
    color: white;
    background-color: #2c4b39;
}
/*Search post*/
.in-search {
    width: 97%;
    outline: #538167;
	height: 40px;
    margin: 5px;
	background-color: #fafafa;
	border: 1px solid lightgray;
    margin-bottom: 40px;
    padding-left: 20px;
}
.in-search:focus {
    border: 1px solid #538167;
}
/*Comment post*/
.form-comment {
    margin-top: 20px;
}
.add-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-comment {
    margin-left: 10px;
    outline: none;
    width: 85%;
    height: 45px;
    border-radius: 22.5px;
    background-color: #fafafa;
	border: 1px solid lightgray;
    padding-left: 30px;
}
.input-comment:focus {
    border: 1px solid #2c4b39;
    border-radius: 22.5px;
}
.btn-send {
    text-decoration: none;
    padding-left: 10px;
}
.img-send {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    margin-top: -5px;
}
.item-comment {
    display: flex;
    margin-top: 20px;
    padding-right: 20px;
}
.avatar-cmt {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
}
.content-comment {
    padding: 10px;
    border: 0.1px solid #538167;
    background-color: #fafafa;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}
.user-comment {
    font-size: 17px;
    font-weight: 600;
}
.react-comment {
    padding-left: 20px;
    font-weight: 600;
    color: gray;
}
.time-comment {
    padding-right: 15px;
}
.react-toggle {
    padding-right: 15px;
}
.reply {
    padding-right: 15px;
}
.item-reply {
    margin-left: 80px;
    display: flex;
    margin-top: 20px;
    padding-right: 20px;
}
.avatar-reply {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
}
#scroll-comment {
    width:100%;
    height:500px;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom: 40px;
    padding-left: 10px;
}
#scroll-comment::-webkit-scrollbar {
    display: none;
  }