.page-title .page-title-icon {
    background: #00c292 !important;
}
.bg-gradient-success {
    background: linear-gradient(to right, #faaf4ddb, #faa321) !important;
}
.bg-gradient-danger {
    background: linear-gradient(to right, #f19174, #fc5353) !important;
}
.content-post-dashboard {
    padding: 5px;
    font-weight: 500;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}